body {
  background-color: rgb(251, 251, 251);

}


@font-face {
    font-family: "Compagnon Roman", serif;
     src: url("typo/Compagnon-Roman.otf")format("opentype");
    
}


@font-face {
    font-family: "Aileron Regular";
     src: url("typo/aileron.regular.otf")format("opentype");
     font-weight: 400;
     font-style: normal;
  
}

@font-face {
    font-family: "Aileron Ultralight";
     src: url("typo/aileron.ultralight.otf")format("opentype");
     font-weight: 200;
     font-style: normal;

}
  
body {
  font-family: "Aileron Regular",sans-serif;
  font-size: 17px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(49, 39, 131);
}

img {
  max-width: 100%;
  height: auto;

}


h1 {

  font-family: "Compagnon Roman", serif;
  font-style: normal;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  margin-top: 5px; 
  color: rgb(81, 52, 245);
  
}

h1 a{
  color: rgb(81, 52, 245);
  text-decoration: none;
}

 @media (min-width:640px){
  h1{
    font-size:25px;
  }
} 

h1 a:hover{
  opacity: 50%;
}
h3{
  font-family: "Aileron Ultralight", sans-serif;
  font-weight: lighter;
  font-size: 17px;
  font-style: normal;
  margin-top: 0px;
}

.nav a {
  font-family: "Compagnon Roman", sans-serif;
  color: rgb(81, 52, 245);
  text-decoration: none;
  font-size: 25px;
  margin: 10px;
  font-weight: 400;
  margin-top: 5px; 
}

.header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: baseline;
  font-size:25px;

}

@media (min-width:640px){
  .header{
    font-size:25px;
  }
}

.nav a:hover {
  opacity: 50%;

}

.insta a{
  font-family: "Aileron Ultralight", sans-serif;
  text-decoration: none;
  transition: opacity 0.2s ease;
  color: rgb(49, 39, 131);
  
}

.insta a:hover {
  opacity: 50%;

}

.info {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
}

.cv {
  text-decoration: none;
  font-family:'Cooper Hewitt', sans-serif; 
  color: rgb(49, 39, 131);
}
.cv a:hover {
  opacity: 50%;

}

.grid {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1500px;
  margin: auto;
}

@media (min-width:640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1040px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media (min-width: 1040px) {
  .un {
    grid-column: 1 / 3;
    grid-row: 5;


  }

  .deux {
    grid-column: 3/ 6;
    grid-row: 2 / 3;

  }

  .trois {
    grid-column: 1;
    grid-row: 2 / 5;

  }

  .quatre {
    grid-column: 3;
    grid-row: 3;

  }

  .cinq {
    grid-column: 1/3;
    grid-row: 3;
    margin-top: 20px;

  }

  .six {
    grid-column: 5/6;
    grid-row: 4;


  }

  .sept {
    grid-column: 3/4;
    grid-row: 4;
    margin-top: 300px;

  }

  .huit {
    grid-column: 4;
    grid-row: 4;
    margin-top: 660px;

  }
}

.grid a:hover img {
  opacity: 50%;

}




.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;


}

h2 {
 font-family: "Compagnon Roman", serif;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 7px;
  color: rgb(81, 52, 245);

}

.footer {
  
  font-family: 'Aileron Ultralight', sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 20px;

}

.footer2{
  font-family: 'Aileron Ultralight', sans-serif;
  font-size:11px;
  position: fixed;
  bottom: 0;
}

.grid2 {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1500px;
  margin: auto;
}


.grid3 {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1500px;
  margin: auto;
}


@media (min-width:640px) {
  .grid3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1040px) {
  .grid3 {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media (min-width: 1040px) {

  .fs1 {
    grid-column: 3 / 5;
    grid-row: 1;


  }

  .fs2 {
    grid-column: 5/ 6;
    grid-row: 2;

  }

  .fs3 {
    grid-column: 1/3;
    grid-row: 2;

  }

  .fstxt {
    grid-column: 2;
    grid-row: 1;

  }
}

.grid4 {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1500px;
  margin: auto;
}


@media (min-width:640px) {
  .grid4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1040px) {
  .grid4 {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media (min-width: 1040px) {

  .jou1 {
    grid-column: 2;
    grid-row: 1;

  }

  .jou2 {
    grid-column: 3;
    grid-row: 1;

  }

  .jou3 {
    grid-column: 4;
    grid-row: 1;

  }

  .jou4 {
    grid-column: 1/4;
    grid-row: 2;

  }

  .jou5 {
    grid-column: 4/6;
    grid-row: 3;

  }

  .joutxt {
    grid-column: 4;
    grid-row: 2;


  }
}

.grid5 {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1500px;
  margin: auto;
}


@media (min-width:640px) {
  .grid5 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1040px) {
  .grid5 {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media (min-width: 1040px) {
  .hap1 {
    grid-column: 2/4;
    grid-row: 1;

  }

  .hap2 {
    grid-column: 4/6;
    grid-row: 1;

  }

  .hap3 {
    grid-column: 4;
    grid-row: 2;

  }

  .hap4 {
    grid-column: 3;
    grid-row: 2;

  }


  .haptxt {
    grid-column: 1;
    grid-row: 2;
    

  }
}

.grid6 {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1500px;
  margin: auto;
}


@media (min-width:640px) {
  .grid6 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1040px) {
  .grid6 {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media (min-width: 1040px) {
  .log1 {
    grid-column: 4;
    grid-row: 2;

  }

}

  .log10 {
    grid-column: 1 / span 2;
    grid-row: 1;
    width: 100%;
    height: auto;
    object-fit: cover; /* optionnel : recadre un peu si besoin */
    display: block;

  }



  .log11 {
    grid-column: 2;
    grid-row: 4;
   

  }
/* .log2{
        grid-column: 4;
        grid-row: 2;
       
      } */

  .log3 {
     grid-column: 2;
     grid-row: 2;
     margin-left:50px;
        
      } 

  .log4 {
    grid-column: 3;
    grid-row: 1;  
  }

  .log5 {
    grid-column: 5;
    grid-row: 2;

  }


  .log6 {
    grid-column: 4;
    grid-row: 2; 

  }


  .log7 {
    grid-column: 3;
    grid-row: 4;

  }

  .log8 {
    grid-column: 4;
    grid-row: 3;

  }

  .log9 {
    grid-column: 5;
    grid-row: 4;
   

  }

  .logvideo {
    grid-column: 2;
    grid-row: 3;

  }


  .logtxt1 {
    grid-column: 4;
    grid-row: 1;
    margin-top: 170px;


  }

  .logtxt2 {
    grid-column: 1;
    grid-row: 3;

  }
}

.grid7 {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1500px;
  margin: auto;
}


@media (min-width:640px) {
  .grid7 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1040px) {
  .grid7 {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media (min-width: 1040px) {

  .her1 {
    grid-column: 2;
    grid-row: 1;

  }

  .her2 {
    grid-column: 3/ 5;
    grid-row: 1;

  }

  .her3 {
    grid-column: 1/3;
    grid-row: 2;

  }

  .her4 {
    grid-column: 5;
    grid-row: 2;
    margin-top: 300px;
  }


  .hertxt {
    grid-column: 1;
    grid-row: 1;
    margin-top: 370px;

  }
}

.grid8 {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1500px;
  margin: auto;
}

@media (min-width:640px) {
  .grid8 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1040px) {
  .grid8 {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media (min-width: 1040px) {
  .beat1 {
    grid-column: 3/5;
    grid-row: 1;

  }

  .beat2 {
    grid-column: 3;
    grid-row: 2;

  }

  .beat3 {
    grid-column: 4;
    grid-row: 2;

  }

  .beat4 {
    grid-column: 5;
    grid-row: 2;

  }

  .beat5 {
    grid-column: 1;
    grid-row: 3;

  }

  .beattxt {
    grid-column: 1;
    grid-row: 1;
    margin-top: 350px;

  }
}

.grid9 {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1500px;
  margin: auto;
}

@media (min-width:640px) {
  .grid9 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1040px) {
  .grid9 {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media (min-width: 1040px) {

  .choco1 {
    grid-column: 1/4;
    grid-row: 1;

  }

  .choco2 {
    grid-column: 4;
    grid-row: 2;

  }

  .choco3 {
    grid-column: 1/3;
    grid-row: 3;

  }

  .chocotxt {
    grid-column: 5;
    grid-row: 1;
    margin-top: 410px;

  }
}



.grid10 {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1500px;
  margin: auto;
}


@media (min-width:640px) {
  .grid10 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1040px) {
  .grid10 {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media (min-width: 1040px) {
 
  .ph1 {
    grid-column: 3;
    grid-row: 1;


  }

  .ph2 {
    grid-column: 2;
    grid-row: 1;

  }

  .ph3 {
    grid-column: 4;
    grid-row: 1;
    

  }

  .ph4 {
    grid-column: 3;
    grid-row: 4;

  }

  .ph5 {
    grid-column:4;
    grid-row: 4;

  }

  .ph6 {
    grid-column: 5;
    grid-row: 4;

  }

  .ph7 {
    grid-column: 4/6;
    grid-row: 2;

  }
  .ph8 {
    grid-column: 4;
    grid-row: 5;

  }

  .ph9 {
    grid-column: 3;
    grid-row: 5;

  }

  .ph10 {
    grid-column: 3;
    grid-row: 6;

  }

  .ph11 {
    grid-column: 1/3;
    grid-row: 6;

  }
  .ph12 {
    grid-column: 4/6;
    grid-row: 7;

  }

  .ph13 {
    grid-column: 4/6;
    grid-row: 8;

  }
  .ph14 {
    grid-column:2;
    grid-row: 7;
    margin-top:60px;

  }
  .ph15 {
    grid-column:1/3;
    grid-row: 9;

  }
  .ph16 {
    grid-column: 3;
    grid-row: 10;

  }
  .ph17 {
    grid-column: 4;
    grid-row: 10;

  }

  .ph18 {
    grid-column: 5;
    grid-row: 10;

  }

  .ph19 {
    grid-column: 1;
    grid-row: 11;

  }

  .ph20 {
    grid-column: 1;
    grid-row: 12;

  }
}

@media (min-width:640px) {
  .grid2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1040px) {
  .grid2 {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media (min-width: 1040px) {
  .en1 {
    grid-column: 2 / 3;
    grid-row: 1;


  }

  .en2 {
    grid-column: 1/ 3;
    grid-row: 2 / 3;

  }

  .en3 {
    grid-column: 4;
    grid-row: 2 / 6;
    margin-top: 240px;

  }

  .en4 {
    grid-column: 3/6;
    grid-row: 3;

  }

  .en5 {
    grid-column: 1/3;
    grid-row: 4;

  }

  .en6 {
    grid-column: 4/6;
    grid-row: 4;

  }

  .en7 {
    grid-column: 1;
    grid-row: 3;

  }

  .entxt {
    grid-column: 4/5;
    grid-row: 1;

  }
}



